<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>
    <img class="logotipo" src="../../assets/media/Adobe Photoshop (1).png" alt='Logotipo Hommy'>
    <span>Repúblicas favoritas</span>
  </header>


    
    <article class=anuncio>
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <h2>Nome da República</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</span>
      <h2>Preço</h2>
    </article>
    
    <article class=anuncio>
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <h2>Nome da República</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</span>
      <h2>Preço</h2>
    </article>
    
    <article class=anuncio>
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <img src = "../../assets/media/houseicon.png">
      <h2>Nome da República</h2>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing.</span>
      <h2>Preço</h2>
    </article>



</ion-content>
