<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <img class="logotipo" src="../../assets/media/Adobe Photoshop.png" alt='Logotipo Hommy'>
</section>

<section class="features_images">
    <img src = "../../assets/media/houseicon.png" alt="Icone de dinheiro">
    <span>Visualize anúncios!</span>
</section>

<section class="features_images">
    <span>Escolha sua república ideal!</span>
    <img src = "../../assets/media/cashicon.png" alt="Icone de dinheiro">
    
</section>

<section class="features_images">
  <img src = "../../assets/media/peopleicon.png" alt="Icone de dinheiro">
  <span>Entre em contato e feche negócio!</span>
</section>

  <section class="startbutton">
  <span class="start">Inicie já!</span>
  </section>




<footer>
<section class="footer">
<img class="logotipo_footer" src="../../assets/media/Adobe Photoshop (1).png" alt='Logotipo Hommy'>
<span class="copyright">©Copyright HOMMY 2020</span>
</section>
</footer>
</ion-content>