<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--REPÚBLICAS LISTADAS NA HOME UTILIZANDO COMPONENTES JUNTO COM *ngFor-->
<app-republic-card *ngFor = "let republic of republics"
[title]='republic.name'
[price]='republic.price'
[rooms]='republic.numOfAvailableRooms'
[bathrooms]='republic.numOfBathrooms'>
</app-republic-card>



<!--REPÚBLICAS LISTADAS NA HOME UTILIZANDO *ngFor e ngOnInit-->
<section *ngFor="let republic of republics">
<h1>{{republic.name}}</h1>
<h2>{{republic.price}}</h2>
<h3>{{republic.numOfAvailableRooms}}</h3>
<h4>{{republic.numOfBathrooms}}</h4>
</section>


</ion-content>
